<template>
	<v-container class="mt-4 ml-2">
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="elevation-0 transparent">
	  		  <v-row justify="space-around">
	  		  	<v-col cols="12" md="6" lg="3" xl="3">
	  		  		<v-card>
	  		  		  <v-list-item class="px-2">
					        <v-list-item-content>
					          <v-list-item-title class="text-h6">
					            Eduardo Hernández
					          </v-list-item-title>
					          <v-list-item-subtitle>Desarrollador</v-list-item-subtitle>
					        </v-list-item-content>
					      </v-list-item>
					      <!-- carda con contenido -->
					      <v-card>
							    <v-card
							      dark
							      flat
							    >
							      </v-btn>
							      <v-img
							        src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.6435-9/44973237_1029885743860918_8211867394235170816_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeFXNDpx_hwXiU9Dv1A52o5sk7gNwXu0L0eTuA3Be7QvRy8ceTu_-HZwBE7ACMb4F0FFHntmaSEikjURxTQZ5vta&_nc_ohc=IrgIz1kCZR8AX-CQN2x&tn=NHgMn2gxj_kcaH-M&_nc_ht=scontent.fntr8-1.fna&oh=4ce5757fa5a811b6de3d116dce2d948d&oe=60F7EB67"
							      >
							        <v-container class="fill-height">
							          <v-row align="center">
							            <strong class="text-h1 font-weight-regular mr-6"></strong>
							            <v-row justify="end">
							              <div class="text-h5 font-weight-light">
							                <!-- Monday -->
							              </div>
							              <div class="text-uppercase font-weight-light">
							                <!-- February 2015 -->
							              </div>
							            </v-row>
							          </v-row>
							        </v-container>
							      </v-img>
							    </v-card>

							    <!-- Time line -->
							    <v-card-text class="py-0 px-1">
							      <v-timeline
							      	class="mt-6"
							        align-top
							        dense
							      >
							        <v-timeline-item
							        	class="pb-0"
							          color="teal lighten-3"
							          small
							        >
							          <v-row class="pt-1">
							            <v-col cols="4" class="pr-0 pl-0">
							              <strong>Edad:</strong>
							            </v-col>
							            <v-col class="pl-0">
							              <strong>23 años</strong>
							              <div class="text-caption">
							                26 de Abril de 1998
							              </div>
							            </v-col>
							          </v-row>
							        </v-timeline-item>

							        <v-timeline-item
							        	class="pb-0"
							          color="teal lighten-3"
							          small
							        >
							          <v-row class="pt-1">
							            <v-col cols="4" class="pr-0 pl-0">
							              <strong>Depto:</strong>
							            </v-col>
							            <v-col class="pl-0">
							              <strong>TI</strong>
							              <div class="text-caption mb-2">
							                05 de abril del 2021
							              </div>
							            </v-col>
							          </v-row>
							        </v-timeline-item>

							        <v-timeline-item
							        	class="pb-0"
							          color="teal lighten-3"
							          small
							        >
							          <v-row class="pt-1">
							            <v-col cols="4" class="pr-0 pl-0">
							              <strong>Puesto:</strong>
							            </v-col>
							            <v-col class="pl-0">
							              <strong>Desarrollador</strong>
							              <div class="text-caption mb-2">
							                05 de abril del 2021
							              </div>
							            </v-col>
							          </v-row>
							        </v-timeline-item>

							        <v-timeline-item
							        	class="pb-0"
							          color="teal lighten-3"
							          small
							        >
							          <v-row class="pt-1">
							            <v-col cols="4" class="pr-0 pl-0">
							              <strong>Nivel</strong>
							            </v-col>
							            <v-col class="pl-0">
							              <strong>Nivel Jr</strong>
							              <div class="text-caption mb-2">
							                prómximo, master
							              </div>
							            </v-col>
							          </v-row>
							        </v-timeline-item>

							      </v-timeline>
							    </v-card-text>

							    <v-divider class="mt-6"></v-divider>
							    <v-card-text align="center">
					          <strong>Logros</strong>
			              <div class="text-caption mb-2">
			              	Vas muy bien!
			              </div>
							    	<v-row justify="space-around">
							      	<v-col cols="4" sm="4" md="3" lg="2" align="center" style="align-content: center;">
					              <v-avatar>
					              	<v-spacer></v-spacer>
					                <v-img
					                  src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFrida&accessoriesType=Kurt&hairColor=Red&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Wink&eyebrowType=RaisedExcitedNatural&mouthType=Disbelief&skinColor=Brown"
					                ></v-img>
					                <v-spacer></v-spacer>
					              </v-avatar>
					            </v-col>
					            <v-col cols="4" sm="4" md="3" lg="2" align="center" style="align-content: center;">
					              <v-avatar>
					                <v-img
					                  src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairFrizzle&accessoriesType=Prescription02&hairColor=Black&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=BlazerSweater&clotheColor=Black&eyeType=Default&eyebrowType=FlatNatural&mouthType=Default&skinColor=Tanned"
					                ></v-img>
					              </v-avatar>
					            </v-col>
					            <v-col cols="4" sm="4" md="3" lg="2" align="center" style="align-content: center;">
					              <v-avatar>
					                <v-img
					                  src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Sunglasses&hairColor=BlondeGolden&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Surprised&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=Pale"
					                ></v-img>
					              </v-avatar>
					            </v-col>
							    	</v-row>
							    </v-card-text>
							    <v-card-actions>
							      <v-spacer></v-spacer>
							      <v-btn color="teal lighten-3" block class="text-capitalize" outlined>Compartir mi logro</v-btn>
							      <v-spacer></v-spacer>
							    </v-card-actions>
							  </v-card>
	  		  		</v-card>
	  		  	</v-col>

	  		  	<v-col cols="12" md="6" lg="8" xl="8">
	  		  		<v-card>
	  		  		  <v-toolbar color="transparent" dense>
	  		  		    <v-tabs>
								    <v-tab>Sobre mí</v-tab>
								    <v-tab>Diplomas</v-tab>
								    <v-tab>Logros</v-tab>
								  </v-tabs>
								  <v-spacer></v-spacer>
								  <v-icon color="blue"   class="mr-2">mdi-facebook</v-icon>
								  <v-icon color="orange" class="mr-2">mdi-instagram</v-icon>
								  <v-icon color="blue"   class="mr-2">mdi-twitter</v-icon>
								  <v-icon color="red"    class="mr-2">mdi-youtube</v-icon>
	  		  		  </v-toolbar>	
	  		  		</v-card>

	  		  		<v-card class="mt-12 elevation-4">
	  		  		  <v-row>
	  		  		  	<v-col cols="12" class="pa-12 pb-0">
	  		  		  		<span class="blue--text"><strong>Sobre mí</strong></span>
	  		  		  		<br>
	  		  		  		<div class="text-caption">
											Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem et illum similique modi veniam eum quas pariatur, vel magnam harum inventore aperiam labore distinctio ipsa, magni id autem incidunt. Voluptatem perferendis, eum asperiores minus nam maiores delectus expedita fugit, architecto ad qui nihil modi nisi deleniti, dolorum sunt. Ullam quae a, temporibus saepe cumque sit hic tempore id consequuntur necessitatibus quas, sunt in accusantium labore fuga similique? Beatae molestiae obcaecati facere modi esse dolores maxime numquam ut qui deserunt exercitationem possimus dicta consectetur labore ipsum ratione dolor ducimus officiis, rerum fuga? Rem tempore corrupti reiciendis maxime. Molestias ab similique vitae.
										</div>
	  		  		  	</v-col>

	  		  		  	<v-col cols="12">
	  		  		  		<v-row justify="space-around">
	  		  		  			<v-col cols="12" class="pa-12 pb-0">
	  		  		  				<span class="blue--text"><strong>Mis cursos</strong></span>
	  		  		  			</v-col>
	  		  		  			<v-col cols="12" lg="4" xl="3" class="px-5">
	  		  		  				<v-card class="mx-auto my-12" max-width="374" >
											    <v-img
											      height="150"
											      src="https://i.ytimg.com/vi/bYOjmW-740M/maxresdefault.jpg"
											    ></v-img>

											    <v-card-title>
											    	<div  class="text-caption">
											    		<strong>Desarrollo web</strong>
											    	</div>
											    </v-card-title>

											    <v-card-text>
											      <div class="text-caption">Small plates, salads & sandwiches - an intimate setting with 12...</div>
											    </v-card-text>


											    <v-card-actions>
											    	<v-spacer></v-spacer>
											      <v-btn
											        color="deep-purple lighten-2"
											        text
											      >
											        Ver
											      </v-btn>
											      <v-spacer></v-spacer>
											    </v-card-actions>
											  </v-card>
	  		  		  			</v-col>

	  		  		  			<v-col cols="12" lg="4" xl="3" class="px-5">
	  		  		  				<v-card class="mx-auto my-12" max-width="374" >
											    <v-img
											      height="150"
											      src="https://disenodepagina.com/disenoweb/wp-content/uploads/2018/11/introduccion-al-desarrollo-web-front-end-html-y-css-desde-cero.jpg"
											    ></v-img>

											    <v-card-title>
											    	<div  class="text-caption">
											    		<strong>Aplicaciones móviles</strong>
											    	</div>
											    </v-card-title>

											    <v-card-text>
											      <div class="text-caption">Small plates, salads & sandwiches - an intimate setting with 12...</div>
											    </v-card-text>

											    <v-card-actions>
											    	<v-spacer></v-spacer>
											      <v-btn
											        color="deep-purple lighten-2"
											        text
											      >
											        Ver
											      </v-btn>
											      <v-spacer></v-spacer>
											    </v-card-actions>
											  </v-card>
	  		  		  			</v-col>

	  		  		  			<v-col cols="12" lg="4" xl="3" class="px-5">
	  		  		  				<v-card class="mx-auto my-12" max-width="374" >
											    <v-img
											      height="150"
											      src="https://www.juanmacivico87.com/wp-content/uploads/buenas-practicas-html.png"
											    ></v-img>

											    <v-card-title>
											    	<div  class="text-caption">
											    		<strong>Aplicaciones móviles</strong>
											    	</div>
											    </v-card-title>

											    <v-card-text>
											      <div class="text-caption">Small plates, salads & sandwiches - an intimate setting with 12...</div>
											    </v-card-text>

											    <v-card-actions>
											    	<v-spacer></v-spacer>
											      <v-btn
											        color="deep-purple lighten-2"
											        text
											      >
											        Ver
											      </v-btn>
											      <v-spacer></v-spacer>
											    </v-card-actions>
											  </v-card>
	  		  		  			</v-col>
	  		  		  		</v-row>
	  		  		  	</v-col>
	  		  		  </v-row>
	  		  		</v-card>
	  		  	</v-col>
	  		  </v-row>
	  		</v-card>
	  	</v-col>
	  </v-row>
	</v-container>			
</template>