<template>
  <v-container fluid class="fill-height">
    <!--  -->
    <v-row class="pa-0" justify="center" align="center">
      <v-col cols="12" class="pa-0" md="8" lg="8" >
        <v-card class="shadowCard">
          <v-card-text class="pa-0">
            <!-- Diapositvas -->
            <VistaPreviaWeb :escuela="escuela" v-if="getEscuela"/>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>


    <!-- Dialog de carga -->
    <Alerta v-if="respuestaAlerta" :parametros="parametros" />
    <carga v-if="cargar" />

  </v-container>
</template>
<script>
  import { mapGetters, mapActions } from "vuex";
  // Componentes
  import Alerta from "@/components/alertas/Alerta.vue";
  import carga from "@/components/alertas/carga.vue";

  import validarErrores from "@/mixins/validarErrores";

  import VistaPreviaWeb from "@/views/academico/sistemaweb/VistaPreviaWeb.vue";

  export default {

    mixins: [ validarErrores ],

    components: {
      Alerta,
      carga,
      VistaPreviaWeb
    },

    data: () => ({
      tabs: 4, 
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      editedIndex: -1,

      search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      escuelas: [],
      escuela: null,
      httpBase: 'https://web-back-inbi.club/kpi/'

    }),

    computed: {
      ...mapGetters('niveles',['getEscuela']),
    },

    watch: {

    },

    async created () {
      this.initialize()
    },

    methods: {

      ...mapActions( 'niveles', ['guardarInfo']),

      initialize( ){
        this.cargar = false
        this.escuela = null

        const payload = {
          "idescuela":"1",
          "idequipo":"1"
        }

        return this.$http.post( this.httpBase + 'escuela.getInformacion', payload ).then(response=>{
          this.guardarInfo( response.body.escuela )
          this.cargar      = false
        }).catch( error =>{
          this.cargar = false
          this.validarErrorDirecto('No tienes internet')
        }).finally( () => { this.cargar = false })
      }
    },
  }
</script>