<template>
	<v-container>
	  <v-row>
	  	<!-- Dialog de carga -->
	    <v-overlay :value="overlay">
	      <v-card
	      	width="200"
	        color="primary"
	        dark
	      >
	        <v-card-text align="center" class="text-h6">
	          Espera porfavor
	          <v-progress-linear
	            indeterminate
	            color="white"
	            class="mb-0 mt-2"
	          ></v-progress-linear>
	        </v-card-text>
	      </v-card>
	    </v-overlay>
	  </v-row>

	  <v-row>
	    <!-- Dialogo para indicar que todo esta correcto -->
	    <v-dialog
	      v-model="dialogSuccess"
	      hide-overlay
	      max-width="600"
	    >
	      <v-card
	        color="green"
	        dark
	        style="position: relative"
	      >
	        <v-card-title primary-title class="pb-0">
	          Datos grabados
	        </v-card-title>
	        <div class="pl-6 pb-6">
	          <br/>
	          NOTA: {{successMensaje}}
	        </div>
	        <v-btn 
	          color="transparent elevation-0"
	          x-small
	          absolute
	          top
	          right
	          fab
	          class="mt-5 mr-0"
	          @click="dialogSuccess = false"
	         ><v-icon>mdi-close</v-icon>
	        </v-btn>
	      </v-card>
	    </v-dialog>
	  </v-row>
	  
	  <v-row>
	    <!-- Dialogo para indicar errores -->
	    <v-dialog
	      v-model="dialogError"
	      hide-overlay
	      persistent
	      max-width="600"
	    >
	      <v-card
	        color="error"
	        dark
	        style="position: relative"
	      >
	        <v-card-title primary-title class="pb-0">
	          Error al recuperar los datos
	        </v-card-title>
	        <v-card-text>
	          <br/>
	          NOTA: {{error}}
	        </v-card-text>
	        <v-btn 
	        	color="transparent elevation-0"
	        	x-small
	          absolute
	          top
	          right
	          fab
	          class="mt-5 mr-0"
	          @click="dialogError = false"
	         ><v-icon>mdi-close</v-icon>
	        </v-btn>
	      </v-card>
	    </v-dialog>
		</v-row>
	</v-container>
</template>