<template>
  <v-container fluid>
    <v-row class="pa-0">
      <v-col cols="12" class="pa-0">
        <!-- Mostrar resultado -->
        <v-card class="elevation-0 transparent" id="create">
          <v-img 
            :src="url_servidor + foto_mostrar" 
            v-if="foto_mostrar" 
            contain
            width="100%"
            class="white--text align-center"
          >

            <!-- NIVELES -->
            <v-card-text class="texto_contenedor align-center text-center" align="center" v-if="step == 2">
              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(nivel, i ) in niveles" 
                  :key="i" 
                  v-if="i < 5"
                  @click="verLecciones( nivel )"
                >
                  <v-img :src="obtenerImagenLocal( nivel.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>

              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(nivel, i ) in niveles" 
                  :key="i" 
                  v-if="i >= 5 && i < 10"
                  @click="verLecciones( nivel )"
                >
                  <v-img :src="obtenerImagenLocal( nivel.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>

              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(nivel, i ) in niveles" 
                  :key="i" 
                  v-if="i >= 10 && i < 15"
                  @click="verLecciones( nivel )"
                >
                  <v-img :src="obtenerImagenLocal( nivel.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>

              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(nivel, i ) in niveles" 
                  :key="i" 
                  v-if="i >= 15 && i < 20"
                  @click="verLecciones( nivel )"
                >
                  <v-img :src="obtenerImagenLocal( nivel.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>
            </v-card-text>

            <!-- LECCIONES -->
            <v-card-text class="texto_contenedor_lecciones align-center text-center" align="center" v-if="step == 3">
              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(leccion, i ) in lecciones" 
                  :key="i" 
                  v-if="i < 5"
                  @click="verDiapositivas( leccion )"
                >
                  <v-img :src="obtenerImagenLocal( leccion.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>

              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(leccion, i ) in lecciones" 
                  :key="i" 
                  v-if="i >= 5 && i < 10"
                  @click="verDiapositivas( leccion )"
                >
                  <v-img :src="obtenerImagenLocal( leccion.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>

              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(leccion, i ) in lecciones" 
                  :key="i" 
                  v-if="i >= 10 && i < 15"
                  @click="verDiapositivas( leccion )"
                >
                  <v-img :src="obtenerImagenLocal( leccion.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>

              <div class="cuadros-container">
                <v-card 
                  class="elevation-0 transparent align-center cuadro" 
                  v-for="(leccion, i ) in lecciones" 
                  :key="i" 
                  v-if="i >= 15 && i < 20"
                  @click="verDiapositivas( leccion )"
                >
                  <v-img :src="obtenerImagenLocal( leccion.archivos[0].nombre )" contain max-width="200" class="text-center"/>
                </v-card>
              </div>
            </v-card-text>

            <!-- Botón para regresar a ver los niveles -->
            <v-speed-dial
              v-if="step == 3"
              top
              left
              small
              transition="slide-y-reverse-transition"
            >
              <template v-slot:activator>
                <v-btn
                  color="black"
                  dark
                  fab
                  small
                  @click="verNiveles()"
                >
                  <v-icon >
                    mdi-skip-previous
                  </v-icon>
                </v-btn>
              </template>
            </v-speed-dial>

            <!-- DIAPOSITIVAS -->
            <v-card
              v-if="step == 4 && archivos.length && archivos[0].extension == 'mp4' && verVideo"
              style="width: 100%; height: auto"
              class="elevation-0 transparent video_contenedor"
            >
              <video controls style="width: 80%; height: 100%" :id="archivos[0].nombre">
                <source
                  v-if="verVideo"
                  :src="urlLocal + archivos[0].nombre"
                  type="video/mp4"
                />
              </video>
            </v-card>

            <!-- Botones de acción -->
            <v-btn
              v-if="step == 4 && archivos.length && archivos[0].extension == 'mp3'"
              class="boton-play"
              color="black"
              dark
              fab
              small
              @click="crearTemplateSonido( )"
            >
              <v-icon v-text="audioPlaying  ? 'mdi-pause' : 'mdi-play'">
              </v-icon>
            </v-btn>

            <!-- Botones de acción -->
            <v-speed-dial
              v-if="step == 4 "
              bottom
              right
              small
              transition="slide-y-reverse-transition"
            >
              <template v-slot:activator>
                <v-btn
                  color="black"
                  dark
                  fab
                  small
                  @click="next"
                >
                  <v-icon >
                    mdi-skip-next
                  </v-icon>
                </v-btn>
              </template>
            </v-speed-dial>

            <!-- Anterior -->
            <v-speed-dial
              v-if="step == 4 "
              bottom
              right
              small
              transition="slide-y-reverse-transition"
              class="mr-16"
            >
              <template v-slot:activator>
                <v-btn
                  color="black"
                  dark
                  fab
                  small
                  @click="previous"
                >
                  <v-icon >
                    mdi-skip-previous
                  </v-icon>
                </v-btn>
              </template>
            </v-speed-dial>

            <!-- BOTON HOME -->
            <v-btn
              v-if="step == 4"
              class="boton-home"
              color="black"
              dark
              fab
              small
              @click="home()"
            >
              <v-icon > mdi-home</v-icon>
            </v-btn>

            <!-- BOTON INICIO DIAPOSITIVAS -->
            <v-btn
              v-if="step == 4"
              class="boton-inicio"
              color="black"
              dark
              fab
              small
              @click="inicioDiapositivas()"
            >
              <v-icon >mdi-skip-previous</v-icon>
            </v-btn>

            <!-- BOTON MARKADOR -->
            <v-btn
              v-if="step == 4"
              class="boton-marker"
              color="black"
              dark
              fab
              small
              @click="abrirPincel()"
            >
              <v-icon >mdi-pencil</v-icon>
            </v-btn>


          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <!-- Dialog de carga -->
    <Alerta v-if="respuestaAlerta" :parametros="parametros" />
    <carga v-if="cargar" />

  </v-container>
</template>
<script>
import { mapGetters } from "vuex";

// Componentes
import Alerta from "@/components/alertas/Alerta.vue";
import carga from "@/components/alertas/carga.vue";

import validarErrores from "@/mixins/validarErrores";

import { ipcRenderer }  from "electron";

export default {
  components: {
    Alerta,
    carga,
  },

  mixins: [validarErrores],

  props: ['escuela'],

  data: () => ({
    // Alertas
    parametros: {
      dialogError: false,
      mensaje: "",
      color: "",
    },

    respuestaAlerta: false,
    loader: true,
    cargar: false,

    pdf: null,
    dialogPDF: false,
    
    archivos:null,
    vistaPrevia: null,
    file: '',
    dragging: false,
    dialgImagen:false,
    url_servidor: '',
    fullscreen: false,
    pdf:null,
    dialogPDF: false,
    
    imagen: null,
    extension:'',

    step: 1,
    foto_mostrar:"",
    niveles:[],
    lecciones:[],
    diapositivas:[],
    numDiapositiva: 0,
    audio: null,
    audioPlaying: false,
    verVideo: false,
    diapositiva: [],
    archivos:[],

    httpBase: 'https://web-back-inbi.club/kpi/',
    base64Image: null,

    urlLocal: 'http://localhost:3000/imagenes-campanias/'

  }),

  computed: {
    ...mapGetters("niveles", ["getEscuela"]),
  },

  async created() {

    ipcRenderer.send('info-sistema')

    ipcRenderer.on('info-sistema-respuesta', (event, data) => {
      console.log('Información del sistema:', data);
      // Actualiza tu interfaz de usuario con la información obtenida
    });


    console.log( this.getEscuela )

    let me = this

    /*
      Esta función, nos ayuda a comunicarnos con electron
      send ( evento o canal ,  parametro o valor  )
    */
    ipcRenderer.send('get-local-image', this.getEscuela.portada );

    /*
      Ahora, este es un watch, aquí recibiremos el evento y recibiremos el campo ya convertido en un base 64 de la imagen
    */
    ipcRenderer.on('local-image-data', (event, imageBase64) => {

      // Lo convertimos en un base&4 url para poder mostrar el resultado
      const imageSrc = `data:image/jpeg;base64,${imageBase64}`;

      // La guardamos en la variable para mostrar la información
      me.foto_mostrar = imageSrc
    });

    setTimeout(() => { 
      // Llenamos los niveles
      this.niveles      = this.getEscuela.niveles

      // Le indicamos que estamos en el paso 2
      this.step         = 2

      // Mandamos a renderizar la imagen de la portada
      ipcRenderer.send('get-local-image', this.getEscuela.portada_niveles);
    }, 3000)
  },

  methods: {

    // Funçión para obtener de manera local las imágenes
    obtenerImagenLocal(image) {

      // Importamos el FS que es para leer archivos
      const fs = require('fs');

      // Obtén la ruta absoluta de la carpeta de imágenes en tu proyecto de Electron
      const imagesFolder = `D:/proyectos/galeria/${ image }`

      // Lo pasamos a un base 64 que pueda leer el sistema
      const base64Image =  fs.readFileSync(imagesFolder, 'base64')

      // Lo convertimos en un base&4 url para poder mostrar el resultado
      return `data:image/jpeg;base64,${base64Image}`;

    },

    // VER las lecciones recibiendo como parametro el nivel
    verLecciones( nivel ){

      console.log( nivel )
      // Mandamos a renderizar la imagen
      ipcRenderer.send('get-local-image', this.getEscuela.portada_lecciones);

      // Cargarmos las lecciones del nivel
      this.lecciones = nivel.lecciones

      // Indicamos que estamos en la 3era sección ( la de diapositivas )
      this.step = 3
    },

    // Ver las diapositicas de la lección, recibiendo como parametro la lección
    verDiapositivas( leccion ){
      // Indicamos la inagem que queremos ver
      ipcRenderer.send('get-local-image', leccion.diapositivas[0].portada[0].nombre );

      // Llenamos las diapositicas
      this.diapositivas = leccion.diapositivas

      // indicamos que estamos en el paso 4
      this.step = 4
    },

    home( ){
      // Regresamos al inicio
      this.numDiapositiva = 0

      // Indicamos la inagem que queremos ver
      ipcRenderer.send('get-local-image', this.getEscuela.portada_lecciones )

      this.audioPlaying = false;

      // Regresamos al paso 3
      this.step = 3

    },

    inicioDiapositivas( ){
      // Regresamos al inicio
      this.numDiapositiva = 0
  
      // Indicamos la inagem que queremos ver
      ipcRenderer.send('get-local-image', this.diapositivas[0].portada[0].nombre );

      this.audioPlaying = false;

      // indicamos que estamos en el paso 4
      this.step = 4
    },

    async abrirPincel( ){
      const appPath = 'C:\\Program Files (x86)\\Pointofix\\Pointofix.exe'; // Reemplaza con la ruta correcta
      ipcRenderer.send('open-local-app', appPath);
    },

    // Función para darle siguiente a las diapositivas
    next ( ){
      // Validamos que si haya diapositivas
      if( this.diapositivas.length ){
        // Validamos que la diapositiva actual sea menor a la longitud de diapositivas
        if( this.numDiapositiva < this.diapositivas.length - 1 ){

          // Incrementamos una diapositiva, por que estamos en la diapositiva 0
          this.numDiapositiva ++

          // Sacamos los archivos y la portada
          const { archivos, portada } = this.diapositivas[this.numDiapositiva]

          this.archivos = archivos

          // Sacamos en nombre de la portada
          const { nombre } = portada[0]

          // Indicamos la inagem que queremos ver
          ipcRenderer.send('get-local-image', nombre );

          // Indicamos que no queremos ver ningun video
          this.verVideo = false

          // Validamos que haya archivos
          if( archivos.length ){
            
            // SI hay archivos.... tenemos que sacar la extensión y el tipo de reproducción
            const { extension, tipo_reproduccion } = archivos[0]

            // el mp4, es para videos, hay que darle un tiempo para para que el video pueda cambiar y no se quede en la memoria el mismo video
            if( extension == 'mp4'){ setTimeout(() => { this.verVideo = true }, 100 )}
          
            // Reproduce el audio
            if (this.audioPlaying) { this.audio.pause(); this.audioPlaying = !this.audioPlaying; }

            // Validar, si el archivo que sigue tiene un audio y se debe reproducir de manera automática
            if( extension == 'mp3' && tipo_reproduccion == 1 && archivos.length ){ 

              // Obtén la ruta absoluta de la carpeta de imágenes en tu proyecto de Electron
              const  rutaAudio = this.urlLocal + archivos[0].nombre 

              this.audio = new Audio( rutaAudio );

              /*
                hemos añadido un método llamado handleAudioEnded que se ejecuta cuando el evento ended del objeto Audio se dispara, es decir, cuando el audio ha terminado de reproducirse. 
              */
              this.audio.addEventListener('ended', this.handleAudioEnded);

              // Lo reproducimos
              this.crearTemplateSonido( ) 
            } 
          }
        }
      }
    },

    // Función para darle anterior a las diapositivas
    previous ( ) {
      // Validamos que si haya diapositivas
      if( this.diapositivas.length ){
        // Validamos que la diapositiva actual sea menor a la longitud de diapositivas
        if( this.numDiapositiva > 0 ){
          // Incrementamos una diapositiva, por que estamos en la diapositiva 0
          this.numDiapositiva --

          // Sacamos los archivos y la portada
          const { archivos, portada } = this.diapositivas[this.numDiapositiva]

          this.archivos = archivos

          // Sacamos en nombre de la portada
          const { nombre } = portada[0]

          // Indicamos la inagem que queremos ver
          ipcRenderer.send('get-local-image', nombre );

          // Indicamos que no queremos ver ningun video
          this.verVideo = false

          // Validamos que haya archivos
          if( archivos.length ){
            
            // SI hay archivos.... tenemos que sacar la extensión y el tipo de reproducción
            const { extension, tipo_reproduccion } = archivos[0]

            // el mp4, es para videos, hay que darle un tiempo para para que el video pueda cambiar y no se quede en la memoria el mismo video
            if( extension == 'mp4'){ setTimeout(() => { this.verVideo = true }, 100 )}
          
            // Reproduce el audio
            if (this.audioPlaying) { this.audio.pause(); this.audioPlaying = !this.audioPlaying; }

            // Validar, si el archivo que sigue tiene un audio y se debe reproducir de manera automática
            if( extension == 'mp3' && tipo_reproduccion == 1 && archivos.length ){ 

              // Obtén la ruta absoluta de la carpeta de imágenes en tu proyecto de Electron
              const  rutaAudio = this.urlLocal + archivos[0].nombre 

              this.audio = new Audio( rutaAudio );

              /*
                hemos añadido un método llamado handleAudioEnded que se ejecuta cuando el evento ended del objeto Audio se dispara, es decir, cuando el audio ha terminado de reproducirse. 
              */
              this.audio.addEventListener('ended', this.handleAudioEnded);

              // Lo reproducimos
              this.crearTemplateSonido( ) 
            } 
          }
        }
      }
    },

    crearTemplateSonido( ){


      // Reproduce el audio
      if (this.audioPlaying) {
        
        this.audio.pause(); // Pausa el audio si ya está reproduciendo
      } else {

        this.audio.play(); // Reproduce el audio si no está reproduciendo
      }

      this.audioPlaying = !this.audioPlaying;
    },

    handleAudioEnded() {
      this.audioPlaying = false; // Cambia el estado de reproducción cuando el audio termina
    },

    imagenElectron ( value ){
      ipcRenderer.send('get-local-image-unique', value );
    },

    getPort() {
      const urlParams = new URLSearchParams(window.location.search);
      console.log( 'urlParams', window.location )
      return urlParams.get('port');
    },

    verNiveles( ){
      ipcRenderer.send('get-local-image', this.getEscuela.portada_niveles);
      this.step = 2
    }
  },
};
</script>
<style scoped>
  /* Estilos del contenedor de cuadros */
  .cuadros-container {
    display: flex;
    justify-content: space-between; /* Distribuye los cuadros equitativamente */
    align-items: center; /* Alinea verticalmente los cuadros */
    flex-wrap: nowrap; /* Evita que los cuadros se envuelvan a la siguiente línea */
    padding: 10px;
  }

  /* Estilos de los cuadros */
  .cuadro {
    width: 18%; /* Ajusta el ancho de los cuadros según el espacio disponible */
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .texto_contenedor{
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    max-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 15%;
  }

  .texto_contenedor_lecciones{
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    max-width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 15%;
  }

  #create .v-speed-dial {
    position: absolute;
  }

  #create .v-btn--floating {
    position: relative;
  }

  .boton-play{
    position: absolute; /* Posición absoluta dentro del contenedor */
    bottom: 15px; /* Coloca el botón en la parte inferior */
    left: 50%; /* Alinea el botón en el centro horizontal */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .boton-home{
    position: absolute; /* Posición absoluta dentro del contenedor */
    bottom: 15px; /* Coloca el botón en la parte inferior */
    left: 5%; /* Alinea el botón en el centro horizontal */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .boton-inicio{
    position: absolute; /* Posición absoluta dentro del contenedor */
    bottom: 15px; /* Coloca el botón en la parte inferior */
    left: 12%; /* Alinea el botón en el centro horizontal */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .boton-marker{
    position: absolute; /* Posición absoluta dentro del contenedor */
    bottom: 15px; /* Coloca el botón en la parte inferior */
    left: 19%; /* Alinea el botón en el centro horizontal */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }


  .video_contenedor{
    position: absolute; /* Posición absoluta dentro del contenedor */
    bottom: 15%; /* Coloca el botón en la parte inferior */
    left: 55%; /* Alinea el botón en el centro horizontal */
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>